workflows_as_json/workflow2.json
{
  "nodes": [
    {
      "parameters": {
        "person": "YOUR_LINKEDIN_PERSON_URN",
        "text": "={{$json.body.post_text}}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        384,
        -64
      ],
      "id": "4a6a7d2a-3df0-4322-a75c-1145ead877fd",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "YOUR_LINKEDIN_PUBLISHER_WEBHOOK_ID",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        16
      ],
      "id": "95d5d97e-b477-47be-9443-1619decd59ab",
      "name": "Webhook",
      "webhookId": "YOUR_LINKEDIN_PUBLISHER_WEBHOOK_ID"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_DRIVE_FILE_ID",
          "mode": "list",
          "cachedResultName": "YOUR_PROJECT_IMAGE.png",
          "cachedResultUrl": "https://drive.google.com/file/d/YOUR_GOOGLE_DRIVE_FILE_ID/view"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -128,
        -144
      ],
      "id": "7ae94b09-eb73-464e-be73-1c2fc5d9e71c",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        128,
        0
      ],
      "id": "9bc7f580-9b78-4f69-802c-d0902597d22f",
      "name": "Merge"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "meta": {}
}
